<html>
    <head>
        <title>게시글 신규등록화면-웹페이지</title>
    </head>
    <body>
        <h1>게시글 신규등록 웹페이지</h1>

        <form method="post" action="/articles/create">
            글제목:<input type="text" name="title"> <br>
            <input type="submit" value="신규등록">
        </form>
    </body>
</html>