<!--우측 하단 풋터 영역-->
<div class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> My Company &copy; 2020-2022
    </div>
</div>